* {
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

:root {
    --x-yellow: #eccd0a;
    --x-black: #000;
    --padding-medium: 12px;
    --border-radius-circle: 1000px;
}

body {
    background-color: var(--x-yellow);
}